body{
    margin-top: 0;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color:black;
}

#header_nav{
    width: 150px;
    height: 38px;
    border: 2px solid black;
    background-color: #F2F2F2;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

#header_logo{
    width: 80px;
    height: 80px;
    border: 1px solid #D0CECE;
    margin: 8px;
}

#header_profile{
    display: flex;
    width: 150px;
    height: 50px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 8px;
}

.profile_text{
    font-weight: bold ;
    text-align: right;
    padding-left: 10px;
}

#header_profile_img{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
}

/* ########################################
기본틀
######################################## */

main{
    text-align: center;
    width: 10px;
}

#adress_box{
    background-color: #FCFCFC;
    border:1px solid black;
    width: 80%;
    height: 20px;
    text-align: left;
}

.place_name{
    margin-left: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.place{
    width: 80%;
}

.place_table td{
    border:1px solid black;
}

.main_img{
    width: 30%;
    height: 30%;
}

.place_explain{
    width: 240px;
    line-height: 30px;
}

.sub_img{
    width: 100%;
    height: 100%;
}


footer{
    height: 80px;
    width:100%; 
    bottom:0;
    position:fixed;
    background-color: #D0CECE;
    color:#797979;
    text-align: center;
    right:0;
}