
a{
    text-decoration:none;
    color:black;
}

.header{
    width: 100%;
    height: 110px;
    border-bottom:2px solid black;
    display: flex;
}

.navtable{
    margin-top:45px;
    margin-left:15px;
    width:200px;
    height: 43px;
    border: 2px solid black;
    background-color: #F2F2F2;
    font-size:13px;
}


.slogo{
    margin-top: 18px;
    margin-left:20px;
    width:80px;
    height:80px;
    border:1px solid black;   
}
/* pf == 프로필 약자 */

.pfim{
    width: 65px;
    height: 65px;
    border:1px solid black;
    border-radius: 40px;
}

.pftb{
    margin-top:20px;
    margin-left:20px;
    width:210px;
    height: 20px;
    border:1px solid black;
    border-radius: 15px;
    text-align:end;
}

.pft0{
    display: inline;
    color:black;
}

.pft1{ 
    display: inline;
    margin-right: 5px;
    font-size:14px;
    color:#0070C0;
    font-weight:900;
}

.pft2{
    display: inline;
    margin-top:0px;
    margin-right: 5px;
    height:5px;
    font-size:14px;
    color:red;
    font-weight: 900;
}

#topexplain{
    width: 100%;
    height: 210px;
    display: flex;
    border-bottom:2px solid black;
}

.explain{
    width: 240px;
    height: 145px;
    line-height: 30px;
    border:1px solid black;
    margin-top: 35px;
    margin-left: 45px;

}

#marketname{
    font-size: 20px;
    font-style:italic;
}

.explain td{
    text-align: left;
}

#mainimage{
    width: 144px;
    height: 144px;
    border: 1px solid black;
    margin-top: 35px;
    margin-left: 65px;
}

#write{
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 430px;
}

#maintop{
    width: 100%;
    display: flex;
    line-height: 18px;
}

#mainbottom{
    width: 100%;
    display: flex;
    line-height: 18px;
}

.menu{
    width: 200px;
    height: 230px;
    text-align: center;
    margin-top: 15px;
}

.postimage{
    width: 115px;
    height: 115px;
    border: 1px solid black;    
}

#articleList{
    height: 20px;
    text-align: center;
    display: flex;
    margin-left: 255px;
}

#nowList{
    font-weight: bold;
}

.footer{
    text-align: center;
    width:100%; 
    height: 98px;
    border-top: 2px solid black;
    bottom:0;
    position:fixed;
    background-color: #D0CECE;
    color:#797979;
}