.pfim{
    width: 65px;
    height: 65px;
    border:1px solid black;
    border-radius: 40px;
}

.pftb{
    width:200px;
    height: 70px;
    border:1px solid black;
    border-radius: 15px;
}

.pft1{ 
    text-align:right;
    color:#0070C0;
}

.pft2{
    text-align:right;
    color:red;
}