a{
    text-decoration:none;
}

.header{
    width: 100%;
    height: 110px;
    border-bottom:2px solid black;
    display: flex;
}

.navtable{
    margin-top:45px;
    margin-left:15px;
    width:200px;
    height: 43px;
    border: 2px solid black;
    background-color: #F2F2F2;
    font-size:12px;
}


.slogo{
    margin-top: 18px;
    margin-left:20px;
    width:80px;
    height:80px;
    border:1px solid black;   
}
/* pf == 프로필 약자 */

.pfim{
    width: 65px;
    height: 65px;
    border:1px solid black;
    border-radius: 40px;
}

.pftb{
    margin-top:20px;
    margin-left:20px;
    width:210px;
    height: 20px;
    border:1px solid black;
    border-radius: 15px;
    text-align:end;
}

.pft0{
    display: inline;
    color:black;
}

.pft1{ 
    display: inline;
    margin-right: 5px;
    font-size:14px;
    color:#0070C0;
    font-weight:900;
}

.pft2{
    display: inline;
    margin-top:0px;
    margin-right: 5px;
    height:5px;
    font-size:14px;
    color:red;
    font-weight: 900;
}

.step{
    width:100%;
    height: 5px;
    border:1px solid black;
}

.step1{
    display:flex;
}
    

.restaurant{
    width: 90px;
    height: 90px;
    border:1px solid black;
}
.tourist{
    width: 90px;
    height: 90px;
    border:1px solid black;
}
.cafe{
    width: 90px;
    height: 90px;
    border:1px solid black;
}

.footer{
    width:100%; 
    height: 98px;
    border-top: 2px solid black;
    bottom:0;
    position:fixed;
    background-color: #D0CECE;
    color:#797979;
}