body{
    margin-top: 0;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration:none;
    color:black;
}

#header_nav{
    width: 150px;
    height: 38px;
    border: 2px solid black;
    background-color: #F2F2F2;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}


#header_logo{
    width: 80px;
    height: 80px;
    border: 1px solid #D0CECE;
    margin: 8px;
}

#header_profile{
    display: flex;
    width: 150px;
    height: 50px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 8px;
}

.profile_text{
    font-weight: bold ;
    text-align: right;
    padding-left: 10px;
}

#header_profile_img{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
}

.step_bar{
    font-size: 16px;
    font-weight: bold;
    width:100%;
    border:1px solid black;
    text-align:left;
}

#step1{
    display: flex;
    justify-content: space-between;
}

.type_button{
    width: 80px;
    height: 100px;
    background-color: white;
    color:#D3D3D3;
    font-size:12px;
    border-color:white;
    padding: 20;
}

.type_button_img{
    width: 65px;
    height: 65px;
    border:1px solid black;
    border-radius: 5px;
}


.step2{
    width: 550px;
    height:60px;
}

#mb{
    width: 190px;
    height: 30px;
    margin-left: 20px;
    font-size:16px;
}

#nb{
    width:190px;
    height: 30px;
    margin-left:48px;
    font-size:16px;
}

#step2box{
    width: 100%;
    height: 350px;
}

#map{
    width:500px;
    height:300px; 
    border:0;
    display: none;
    /* referrerpolicy="no-referrer-when-downgrade */ 
}

#sabox{
    display: flex;
}

#box{
    background-color: #FCFCFC;
    border:1px solid black;
    width: 350px;
    height: 35px;
    margin-left: 30px;
}

#SAb{
    background-color: #7F7F7F;
    border:1px solid black;
    width: 90px;
    height: 35px;
    color:white;
    margin-left: 30px;
    margin-top: 17px;
}

#okbutton{
    width:250px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #d6d5d563;
    font-size:20px;
}



footer{
    height: 80px;
    width:100%; 
    bottom:0;
    position:fixed;
    background-color: #D0CECE;
    color:#797979;
    text-align: center;
    right:0;
}