body{
    font-family: 'Source Sans Pro';
    margin: 0;
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: #263343;
    align-items: center;
    padding: 8px 12px;
}

a{
    text-decoration: none;
    color:white;
}

#navbar_logo{
    font-size: 24px;
    color:#C18B6B;
}

#navbar_menu{
    display: flex;
}

#navbar_menu li{
    list-style: none;
    padding: 8px 12px;
}

#navbar_menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}

#navbar_social{
    color:white;
    font-size: 20px;
}