body{
    margin-top: 0;
}

header{
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    border-bottom: 2px solid black;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color:black;
}

#header_nav tr{
    width: 50px;
    height: 30px;
    background-color: #F2F2F2;
    font-size:12px;
}

#header_naver{
    border: 1px solid black;
}

#header_logo{
    width: 80px;
    height: 80px;
}

#header_profile{
    width: 140px;
    height: 50px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 8px;
}

#header_profile_picture{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
}
